$color-grey-1: rgba(209,213,218,.5);
$color-grey-2: #959da5;
$color-grey-3: #e1e4e8;
$color-grey-4: #fafbfc;
$color-grey-5: #586069;
$color-grey-6: #24292e;
$color-grey-7: #6a737d;
$color-grey-8: #666666;

$color-black-1: #000000;

$color-white-1: #ffffff;

$color-blue-1: #0366d6;